@page
@model BookSwap.Pages.Admin.Area.AreaModel
@{
    Layout = "_Admin";
}

<div class="container-fluid pt-4 px-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw- bold">Area List</h4>
        <a href="/Admin/Area/AddArea" class="btn btn-primary">Add New</a>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>Area List</h4>
        </div>

        <div class="card-body">
            <table class="table table-hover table-bordered text-center">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>City Name</th>
                        <th>Area Name</th>
                        <th>Status</th>
                        <th>Entry Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
